/*
 * ####################################################################################
 * #  Custom device tree file to create virtual SPI0 cape in BlackLib Library.        #
 * #  Copyright (C) 2014 by Yigit YUCE                                                #
 * ####################################################################################
 * #                                                                                  #
 * #  This file is part of BlackLib library.                                          #
 * #                                                                                  #
 * #  BlackLib library is free software: you can redistribute it and/or modify        #
 * #  it under the terms of the GNU Lesser General Public License as published by     #
 * #  the Free Software Foundation, either version 3 of the License, or               #
 * #  (at your option) any later version.                                             #
 * #                                                                                  #
 * #  BlackLib library is distributed in the hope that it will be useful,             #
 * #  but WITHOUT ANY WARRANTY; without even the implied warranty of                  #
 * #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                   #
 * #  GNU Lesser General Public License for more details.                             #
 * #                                                                                  #
 * #  You should have received a copy of the GNU Lesser General Public License        #
 * #  along with this program.  If not, see <http://www.gnu.org/licenses/>.           #
 * #                                                                                  #
 * #  For any comment or suggestion please contact the creator of BlackLib Library    #
 * #  at ygtyce@gmail.com                                                             #
 * #                                                                                  #
 * ####################################################################################
 */

/dts-v1/;
/plugin/;

/ {
    compatible      = "ti,beaglebone", "ti,beaglebone-black";

    part-number     = "BLACKLIB-SPI1";
    version         = "00A0";

    exclusive-use   =
        "P9.31",    /* spi1_sclk */
        "P9.29",    /* spi1_d0 */
        "P9.30",    /* spi1_d1 */
        "P9.28",    /* spi1_cs0 */
        // "P9.42",    /* spi1_cs1 */
        "spi1";     /* the hardware ip uses */

    fragment@0 {
        target      = <&am33xx_pinmux>;
        __overlay__ {
            bb_spi1_pins: pinmux_bb_spi1_pins {
                pinctrl-single,pins = <
                    0x190 0x33      /* mcasp0_aclkx.spi1_sclk,      INPUT_PULLUP  | MODE3 */
                    0x194 0x33      /* mcasp0_fsx.spi1_d0,          INPUT_PULLUP  | MODE3 */
                    0x198 0x13      /* mcasp0_axr0.spi1_d1,         OUTPUT_PULLUP | MODE3 */
                    0x19c 0x13      /* mcasp0_ahclkr.spi1_cs0,      OUTPUT_PULLUP | MODE3 */
                    // 0x164 0x12   /* eCAP0_in_PWM0_out.spi1_cs1   OUTPUT_PULLUP | MODE2 */
                >;
            };
        };
    };

    fragment@1 {
        target = <&spi1>;
        __overlay__ {
            #address-cells  = <1>;
            #size-cells     = <0>;

            status          = "okay";
            pinctrl-names   = "default";
            pinctrl-0       = <&bb_spi1_pins>;    

            spidev@0{
                compatible          = "spidev";
                reg                 = <0>;
                spi-max-frequency   = <24000000>;
            };
            spidev@1{
                compatible          = "spidev";
                reg                 = <1>;
                spi-max-frequency   = <24000000>;
            };            
        };
    };
};
